* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(243, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media only screen and (max-width: 600px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }
}
img {
    height: 40vh;
}

#main {
    position: relative;
    top: 30px;
}
header{
    /* background-color: aquamarine; */
    padding-top: 30px;
    opacity: 0.7;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    height: 60px;
}
.upload {
    position: relative;
    margin-top: 180px;
}

input {
     outline: none;
    border-radius: 5px;
    border-color: blanchedalmond;
}
button {
    outline: none;
    border-radius: 5px;
    border-color: blanchedalmond;

}
.view-window {
    
    margin: 20px 20px 20px 20px;
    overflow-y: hidden;
    margin-left: 20px; 
    display: inline-block
}

.gallery {
   /* display: flex; */
   margin-top: 80px;
}

.detail-container {
    
    height: 100vh;
    width: 100vw;
    margin: 20px 20px 20px 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, lightgray, lightblue); */
    background-color: rgb(243, 236, 236, 0.7);
    padding-bottom: 40px;
}
.detail-container img {
    width: 50vw;
    height: auto;
    justify-self: center;
    z-index: 0;

}
.close{
    position: absolute;
    top: 80px;
    right: 40px;
}

.download {
    position: absolute;
    top: 100px;
    right: 40px;
        border-radius: 5px;
    border-color: blanchedalmond;
    text-decoration: none;
    
}

.comment {
    z-index: 1000;
    position: fixed;
   bottom: 0;
    display: flex;
    border-radius: 10px;
    width: 100%;
        right:0;
        transition:0.4s ease;
}
.comments {
    display: block;
    overflow-x: hidden;

}



.upload {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.more {
    width: 100vw;
    text-align: center;
    
}
.more :hover {
        background-color: rosybrown;
    }